%h1 Hello

/ = form_tag application_index_path do
/   %fieldset
/     %legend Basic details
/     = text_field_tag :school
/     %br/
/     = submit_tag "save and continue", class: "savebutton"
/ :javascript
/   $(".savebutton").click(function() {
/     alert('2');  
/     var valuesToSubmit = $(this).toString();
/     alert(valuesToSubmit);
/     var formData = {"name": valuesToSubmit};
/     $.ajax({
/         type: "POST",
/         url: "http://localhost:4567/bye",
/         data: JSON.stringify(formData),
/         dataType: "JSON"
/     }).success(function(json){
/         console.log("success", json);
/     });
/     alert(valuesToSubmit);
/     return false;
/     alert('5');
/   }); 

/ = form_tag application_index_path do
/   %fieldset
/     %legend Basic details
/     = text_field_tag :school
/     %br/
/     %input{:onclick => "send(this.form)", :type => "button", :value => "Send"}
/ :javascript
/   function send(form) {
/     alert("Yeah");
/     elems = form.elements;
/     alert(elems);
/     $.ajax({
/         type: "POST",
/         url: "http://localhost:4567/bye",
/         data: JSON.stringify(elems),
/         dataType: "JSON"
/     }).success(function(json){
/         console.log("success", json);
/     });
/     alert(valuesToSubmit);
/     return false;
/     alert('5');
/   };

= form_tag application_index_path do
  %fieldset
    %legend Basic details
    = text_field_tag :school
    %br/
    %input{:onclick => "send(this.form)", :type => "button", :value => "Send"}

:javascript
  function send(form) {
    elems = $(form.elements).serializeArray();
    var f = {};
    $.each(elems, function (i, field) { f[field.name] = field.value || ""; });
    $.ajax({
        type: "POST",
        url: "http://localhost:4567/bye",
        data: JSON.stringify(f),
        dataType: "JSON"
    }).success(function(json){
        console.log("success", json);
    });
    return false;
  };